#app-wrapper > ul li div {
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@keyframes blink {
    0% {
        background: red;
        color: black;
    }
    100% {
        background: black;
        color: red;
    }
}
@-webkit-keyframes blink {
    0% {
        background: red;
        color: black;
    }
    100% {
        background: black;
        color: red;
    }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
}

#popup-wrapper {
    display: none;
    width: 600px;
}

#sorters a.active {
    color: #111;
}

#app-wrapper > ul > li {
    width: 560px;
}
#app-wrapper > ul {
    position: relative;
}

.map {
    height: 300px;
}