<html>
<head>
    <title>Lift control</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/core/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="./js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="./js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
    <link rel="stylesheet" href="./js/fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="./js/fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="./js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.wookmark.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>
<body>

    <div id="app-wrapper" class="container">

    </div>

    <div id="popup-wrapper"></div>
    <script type="text/template" id="liftView">
        <div class="<%= blockBackground %>">
            <h1><a class="open-popup popup" href="#popup-wrapper"><%= name %></a></h1>
            <p>House: <a href="#popup-wrapper" class="open-house-popup popup"><%= house %></a></p>
            <p>Address: <%= address %></p>
            <p>Device: <a href="#popup-wrapper" class="open-device-popup popup"><%= device %></a></p>
            <% if (breaking.length > 0) { %>
                <ul>
                    <% for(var i = 0; i < breaking.length; i++) { %>
                        <li><%= breakCodes[breaking[i]] %></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
    </script>
    <script type="text/template" id="popupLiftView">
        <h1><%= name %></h1>
        <hr/>
        <p>House: <%= house %></p>
        <p>Address: <%= address %></p>
        <p>Device: <%= device %></p>
        <% if (breaking.length > 0) { %>
        Breakings:
        <ul>
            <% for(var i = 0; i < breaking.length; i++) { %>
            <li><%= breakCodes[breaking[i]] %></li>
            <% } %>
        </ul>
        <% } %>
        Description:
        <p><%= description %></p>
        <div class="buttons">
            <% if (running){ %>
                <a href="" class="btn btn-danger off-lift"><span>Off</span></a>
            <% } else { %>
                <a href="" class="btn btn-success on-lift"><span>On</span></a>
            <% } %>
        </div>
    </script>
    <script type="text/template" id="houseView">
        <div>
            <h1><a class="open-popup" href="#popup-wrapper"><%= name %></a></h1>
            <p>Address: <%= address %></p>
            <p>Device: <%= device %></p>
        </div>
    </script>
    <script type="text/template" id="popupHouseView">
        <h1><%= name %></h1>
        <hr/>
        <p>Address: <%= address %></p>
        <p>Device: <%= device %></p>
        Description:
        <p><%= description %></p>
        <div class="map" data-title="title obj2" data-address="<%= address %>"></div>
    </script>
    <script type="text/template" id="deviceView">
        <div>
            <h1><a class="open-popup" href="#popup-wrapper"><%= name %></a></h1>
            <p>Address: <%= address %></p>
        </div>
    </script>
    <script type="text/template" id="popupDeviceView">
        <h1><%= name %></h1>
        <hr/>
        <p>Address: <%= address %></p>
        Description:
        <p><%= description %></p>
        <div class="map" data-title="title obj2" data-address="<%= address %>"></div>
    </script>
    <script src="js/core/underscore.js"></script>
    <script src="js/core/backbone.js"></script>

    <script src="js/app.js"></script>
    <script src="js/app/models.js"></script>
    <script src="js/app/collections.js"></script>
    <script src="js/app/views.js"></script>
    <script src="js/main.js"></script>
</body>
</html>